<h1> Welcome at buyer's Dashboard</h1>

<form method="post" action=".">{% csrf_token %}
    <a href="{% url 'buyer_inventory'  %}" class="button"> Inventory </a>
    <a href="{% url 'buyer_inventory'  %}" class="button"> Orders </a>
    <a href="{% url 'buyer_inventory'  %}" class="button"> Delivery </a>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #2005b5;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
        }
    </style>
           
</form>