{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Edit inventory</h1>
    <form method="post" action="">{% csrf_token %}
        <label>Quantity</label>
        <input name="quantity" value="{{inventory.quantity}}">
        <button class="btn btn-primary">save inventory</button>
    </form>
</body>
</html>

