<html>
    <head>
        <title>Votre facture</title>
    </head>
    <body>
        <h1>Merci pour votre achat</h1>
        <p>Voici les détails de votre commande</p>
        <ul>
        <li><strong>Numéro de commende :</strong>{{order_id}}</li>
        <li><strong>Montant :</strong>{{amount}}</li>
        <li><strong>Date :</strong>{{order_date}}</li>
        </ul>
        <p> Nous vous livrerons vos articles sous peu, merci pour votre confiance</p>
        <p>Pour toute question, contactez nous à </p>
    </body>
</html>