<h1> Welcome at supplier's Dashboard</h1>

    <a href="{% url 'supplier_products'  %}" class="button"> Products </a>
    <a href="{% url 'supplier_products'  %}" class="button"> Orders </a>
    <a href="{% url 'supplier_products'  %}" class="button"> Delivery </a>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0e0e0e;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
        }   
        </style>
