{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1> Welcome at supplier's Dashboard</h1>

    <div class="dash-main-section">
        <form method="get" action="{% url 'supplier_products' %}">{% csrf_token %}
            <button type="submit" class="btn btn-dark"> Product </button> 
        </form>
        <form method="get" action="{% url 'supplier_orders' %}">{% csrf_token %}
            <button type="submit" class="btn btn-dark"> Orders and Delivery </button> 
        </form>
    </div>

    <form class="action-btn" method="post" action="{% url 'logout' %}">{% csrf_token %}
        <button type="submit" class="btn btn-danger"> Déconnexion </button> 
    </form>
{% endblock %}



   

